<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686419843702-jgpoj86iivpt26ju3vv7bbbni9uh16hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686419843702-jgpoj86iivpt26ju3vv7bbbni9uh16hc</string>
	<key>API_KEY</key>
	<string>AIzaSyBrhOPLEbacArE-Y4T4l3DXETMrNfQ0Io0</string>
	<key>GCM_SENDER_ID</key>
	<string>686419843702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gripngrab</string>
	<key>PROJECT_ID</key>
	<string>gripngrab-11edf</string>
	<key>STORAGE_BUCKET</key>
	<string>gripngrab-11edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686419843702:ios:b63e3502d12060d0339d57</string>
</dict>
</plist>