<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152880036058-vn1fphm0kk80cnsjgvh7tbvrlop48eoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152880036058-vn1fphm0kk80cnsjgvh7tbvrlop48eoi</string>
	<key>API_KEY</key>
	<string>AIzaSyCVBqrHUnDLu4VIXagPoGXDfXgr51AuDFM</string>
	<key>GCM_SENDER_ID</key>
	<string>152880036058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gripngrab</string>
	<key>PROJECT_ID</key>
	<string>gripngrab-7bd56</string>
	<key>STORAGE_BUCKET</key>
	<string>gripngrab-7bd56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152880036058:ios:327effd97bd9e1e4cb8de3</string>
</dict>
</plist>